@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-size: 62.5%;
	}

	body {
		height: 100dvh;
		background-color: #25030d;

		/* background-image: linear-gradient(
			145deg,
			#25030d 0%,
			#25030d 20%,
			#470619 50%,
			#25030d 80%,
			#25030d 100%
		); */

		@apply text-white;
	}
}

@layer components {
}

@layer utilities {
	.center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
