@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-size: 62.5%;
	}

	body {
		background: #1f0208;
		/* background: #2f0410; */
		background: linear-gradient(
			145deg,
			#25030d 0%,
			#25030d 20%,
			#410517 50%,
			#25030d 80%,
			#25030d 100%
		);
		/* background-image: -webkit-radial-gradient() */
		@apply text-white;
	}
}
